*.js
!jest.config.js
!deploy-and-update-config.js
!destroy-and-delete-config.js
*.d.ts
node_modules


cdk.context.json

# CDK asset staging directory
.cdk.staging
cdk.out

# Exclude the file-upload directory
!file-upload/
!file-upload/**

# Envirnoment variables

# Exclude lambda dir
!lambda/
!lambda/**

lambda.zip